################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/BoostMyMail.Outlook1316/.vs/BoostMyMail.Outlook1316/v15
/BoostMyMail.Outlook1316/bin/Debug
/BoostMyMail.Outlook1316/obj/Debug
/BoostMyMail.Outlook1316/packages
/BoostMyMail.Outlook1316/obj/Release
/BoostMyMail.Outlook1316/bin/Release
/BoostMyMail.Setup/.vs/BoostMyMail.Outlook1316/v15
/BoostMyMail.Setup/bin/Debug
/BoostMyMail.Setup/obj/Debug
/BoostMyMail.Setup/packages
/BoostMyMail.Setup/obj/Release
/BoostMyMail.Setup/bin/Release

/BoostMyMail.Packaging/bin
/BoostMyMail.Packaging/obj
/BoostMyMail.CheckSignature/BoostMyMail.CheckSignature/bin
/BoostMyMail.CheckSignature/BoostMyMail.CheckSignature/obj
/BoostMyMail.Packaging/.vs/BoostMyMail.Packaging/v15
/BoostMyMail.Packaging/config.json.txt
/BoostMyMail.Setup/.vs/BoostMyMail.Setup/v15
/BoostMyMail.Packaging/config-prod.json
/BoostMyMail.Packaging/config-recette.json
/BoostMyMail.Packaging/Scripts/CreateKeysGPO.ps1
/BoostMyMail.Packaging/Scripts/ExportUser.ps1
/BoostMyMail.CheckSignature/.vs/BoostMyMail.CheckSignature/v15/Server/sqlite3
/BoostMyMail.CheckSignature/.vs/BoostMyMail.CheckSignature/v15/sqlite3/db.lock
/BoostMyMail.CheckSignature/.vs/BoostMyMail.CheckSignature/v15/sqlite3/storage.ide-shm
/BoostMyMail.CheckSignature/.vs/BoostMyMail.CheckSignature/v15/sqlite3/storage.ide-wal
*.dtbcache
